<!DOCTYPE html>
<html lang="en">

<head>
  {{>headerlinks}}
</head>

<body>

  {{>navbar}}

  <!-- main-header -->
  <div class="container-fluid ">
    <div class="row">
      <div class="col-md-10 col-12 mx-auto">
        <div class="row">
          <!-- left div -->
          <div class="col-md-6  col-12 main_header_left align-items-center">
            <figure>
              <img src="../../public/images/error.PNG" alt="img" title="harsh" class="img-fluid">
            </figure>
             
              <h1>{{errorMsg}}</h1>
              <a href="/" > <button>Back to home</button> </a>
            </div>
            <!-- right div -->
            
        </div>
      </div>
    </div>
  </div>

  {{>footer}}
</body>

</html>