<!DOCTYPE html>
<html lang="en">

<head>
  {{>headerlinks}}
</head>

<body>

  {{>navbar}}


<div class="container-fluid ">
    <div class="row">
      <div class="f-col col-md-10 col-12 mx-auto">
        <div class="row">
          <!-- left div -->
            <div class="col-md-6  col-lg-12  err-col">
             
           <figure >
              <img id="error-img" src="images/error.PNG" alt="img" title="harsh" class="">
            </figure>
             
              <h1>{{errorMsg}}</h1>
              <a href="/" > <button>Back to home</button> </a>
            </div>
      </div> 
    </div>
  </div>
</div>

  {{>footer}}
</body>

</html>
