<!DOCTYPE html>
<html lang="en">

<head>
  {{>headerlinks}}
</head>

<body>

  {{>navbar}}

  <!-- main-header -->
  <div class="container-fluid ">
    <div class="row">
      <div class="col-md-10 col-12 mx-auto">
        <div class="row">
          <!-- left div -->
          <div class="col-md-6  col-12 main_header_right align-items-center">
            <figure>
              <img src="images/ppppppppp.jpg" alt="img" title="harsh" class="img-fluid">
            </figure>
          </div>
            <div class="col-md-6  col-12 main_header_left">
              <p>Welcome to weather app</p>
              <h1>I am a <span class="txt_clr">ReactJs Developer </span></h1>
              <a href="https://www.linkedin.com/in/harshvardhan-singh-shaktawat/" target="_blank"> <button>About me</button> </a>
            </div>
            <!-- right div -->
            
        </div>
      </div>
    </div>
  </div>

  {{>footer}}
</body>

</html>